.service {
    position: static;
    width: 100%;
    }
.main {
    margin: 0px auto;
    width: 980px;
    height: 1000px;
    border:1px solid black;
    }
#links{
	margin-right: 1180px;
   border:1px solid black;
} 
#rechts{
	float: right;
	width: 1180px;
   border:1px solid black;
}
#divtoggle{
  display:none;	
}

#navi {
 float:top;  	
}

#inhalt {
 border:none;	
}
